<div
  class="{{ shopOpen ? 'shop-page-container' : 'shop-page-container closed' }}"
>
  <div class="tabs-container">
    <div (click)="changeTab()" class="{{ isTab1Open ? 'tab active' : 'tab' }}">
      <img src="./../../assets/ironpickaxe.png" />
    </div>
    <div (click)="changeTab()" class="{{ !isTab1Open ? 'tab active' : 'tab' }}">
      <img src="./../../assets/barChart.png" />
    </div>
  </div>
  <div class="items-container">
    <div #pickaxe class="items-list">
      <app-item-shop *ngFor="let item of pickaxes" [pickaxe]="item">
      </app-item-shop>
    </div>
    <div #stats class="pickaxe-stats-upgrade-container">
        <app-upgrade-shop [upgrade]="'attack'"></app-upgrade-shop>
        <app-upgrade-shop [upgrade]="'speed'"></app-upgrade-shop>
        <app-upgrade-shop [upgrade]="'dropChance'"></app-upgrade-shop>
        <app-upgrade-shop [upgrade]="'dmRate'"></app-upgrade-shop>
    </div>
  </div>
</div>
<app-shop-button (click)="shopClicked()"></app-shop-button>
<app-reset-button (click)="showPop()"  *ngIf="canReset"></app-reset-button>
<div *ngIf="showPopup" class="popup-container">
  <div class="message-container">
    <span>You will lose all your materials in order to receive <span class="darkmatter">Dark Matter</span></span>
  </div>
  <div class="buttons-container">
    <div (click)="reset()" class="confirm-btn">
      Confirm
    </div>
    <div (click)="showPop()" class="cancel-btn">
      Cancel
    </div>
  </div>
</div>
