<div class="item-container">
    <div (click)="buy(false)" class="item-img-container">
        <img *ngIf="image" src="./../../assets/{{ image }}" >
        <div *ngIf="!pickaxe.owned" class="materials-container">
            <span *ngIf="pickaxe.price.darkMatter" >Dark Matter: {{ pickaxe.price.darkMatter }}</span>
            <span *ngIf="pickaxe.price.diamond" >Diamond: {{ pickaxe.price.diamond }}</span>
            <span *ngIf="pickaxe.price.emerald" >Emerald: {{ pickaxe.price.emerald }}</span>
            <span *ngIf="pickaxe.price.gold" >Gold: {{ pickaxe.price.gold }}</span>
            <span *ngIf="pickaxe.price.ruby" >Ruby: {{ pickaxe.price.ruby }}</span>
            <span *ngIf="pickaxe.price.saphire" >Sapphire:{{ pickaxe.price.saphire }}</span>
            <span *ngIf="pickaxe.price.iron" >Iron: {{ pickaxe.price.iron }}</span>
        </div>
    </div>
    <div (click)="buy(true)" class="item-price-tag-container">
        <span>{{ pickaxe.owned ? "Use" : pickaxe.price.stars }}</span>
    </div>
</div>