<div class="login-page-container">
  <div class="login-page">
    <div class="logo-and-login-container">
      <div class="logo-container">
        <img
          src="https://cdn.discordapp.com/attachments/577127575374004226/594645804325666846/Logo4.png">
      </div>
      <a class="login-btn" href="https://astro-clicker.herokuapp.com/login">
        <div class="icon">
          <img src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" alt="Discord logo">
        </div>
        <span class="">
          Login with Discord
        </span>
      </a>
    </div>
  </div>
</div>
