<div class="loading-page-container">
    <div class="loading-container">
            <div class="cssload-wrap">
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                    <div class="cssload-circle"></div>
                </div>
        <div class="text-container"> 
                Finding asteroids...
        </div>
    </div>
    <div class="credits-container">
        <i>Made By Lisomatrix and Syn</i>
    </div>
</div>